html {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

header {
  background-color: rgb(241, 244, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 0.5rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 0.4rem solid black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}
#p-header {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}

body {
  background-color: rgb(223, 231, 240);
}
.names {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 3rem 0 1.4rem 0;
}

.score {
  background-color: rgb(223, 231, 240);
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 0 2rem 0 0;
}

.btn {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 4rem 0 0rem 0;
}

#rock {
  padding: 0.8rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgb(129, 186, 250);
  border: 0.1rem solid rgb(123, 176, 245);
  border-radius: 1rem;
}

#rock:hover {
  padding: 0.8rem 1.5rem;
  box-shadow: 0 0 5px rgb(150, 197, 252);
  background-color: rgb(150, 197, 252);
  border: 0.1rem solid rgb(150, 197, 252);
  border-radius: 1rem;
}

#rock:focus {
  outline-width: 0;
}

#paper {
  padding: 0.8rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgb(129, 186, 250);
  border: 0.1rem solid rgb(123, 176, 245);
  border-radius: 1rem;
}

#paper:hover {
  padding: 0.8rem 1.5rem;
  box-shadow: 0 0 5px rgb(150, 197, 252);
  background-color: rgb(150, 197, 252);
  border: 0.1rem solid rgb(150, 197, 252);
  border-radius: 1rem;
}

#paper:focus {
  outline-width: 0;
}

#scissor {
  padding: 0.8rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgb(129, 186, 250);
  border: 0.1rem solid rgb(123, 176, 245);
  border-radius: 1rem;
}

#scissor:hover {
  padding: 0.8rem 1.5rem;
  box-shadow: 0 0 5px rgb(150, 197, 252);
  background-color: rgb(150, 197, 252);
  border: 0.1rem solid rgb(150, 197, 252);
  border-radius: 1rem;
}

#scissor:focus {
  outline-width: 0;
}

#announce {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding-top: 2rem;
}
